
.soon {
    background-image: url("../images/bg-header-desktop.png");
    width: 100vw;
    height: 40vh;
    text-align: center;
}

.soon img {
    margin-top: 15vh;
}

.title {
    text-align: center;
}

.titleh1 {
    font-size: 29px;
    color: #181818;
    margin-bottom: 18px;
}

.title p, p {
    margin-bottom: 30px;
    color: #808080;
}

button {
    border: none;
    padding: 15px;
    border-radius: 35px;
    color: #fff;
}

.titleh1 {
    font-size: 29px;
    color: #181818;
    margin-bottom: 18px;
}

.mac {
    background-color: #6b6cdf;
}

.ios {
    background-color: #26bba4;
}
.grid {
    display: grid;
}

.grid-template-columns-1 {
	grid-template-columns: 1fr 1fr;
}
.item {
	margin: 5px;
	text-align: center;
	font-size: 1.5em;
}
.imagecomputerposition {
    padding: auto;
}

.item2 {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: left;

}

.imagecomputer {
    width: 30vw;
    margin-left: 60px;
    /*height: 250px;*/
}

.access-clipboard {
    text-align: center;
}

.image-devices {
    width: 70vw;
}


/* PRODUCTIVY */

.productivy-container {
    margin: 5rem 0;
}

.productivy-box-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productivy-box {
    margin: 0 1rem;
    width: 310px;
    text-align: center;
}


.productivy-box .productivy-text-description h3 {
    color: rgb(46, 46, 46);
    margin: 2rem 0 1rem 0;
}

.productivy-container h1 {
    color: rgb(46, 46, 46);
    margin: 0 0 1.5rem 0;
    font-size: 2rem;
    text-align: center;
}

.productivy-container p {
    color: gray;
    font-size: 1.1rem;
    margin: 0 0 4rem 0;
    text-align: center;
}

.sponsors-wrapper {
    margin: 5rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sponsors-box {
    margin: 0 2rem;
}